p{
    opacity: 100%;
}

.bordure {
    border-top: solid 1px blue;
    opacity: 80%;
    background-color: aliceblue;
}
.fond {
    opacity: 70%;
    background-color: yellow;
}
h2{
    color: rgb(56, 42, 253);

}

ul {

}


ul li {
margin-bottom: 0.8%;
opacity: 100%;

}

